.modal-background {
  /*background: rgba(0, 0, 0, 0.6);*/
  background-image: url(https://github.com/SilviaPosso77/Organizacion_Tareas/blob/main/frontend/public/body.jpg);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-modal {
  background: #1a1a1a; /* Negro oscuro */
  border-radius: 20px;
  padding: 2rem;
  width: 340px;
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Arial', sans-serif;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.logo img {
  width: 60px;
  height: auto;
  margin-bottom: 1rem;
  width: 40%;

}
/*logo borrar 
.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFD700;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}*/

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #2a2a2a;
  color: white;
}

input:focus {
  outline: none;
  border-color: #33f502;
}

input::placeholder {
  color: #888;
}

.forgot-password {
  display: block;
  margin-bottom: 1rem;
  font-size: 0.85rem;
  color: #cceeff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  background-color: #0bf516; /* BOTON INGRESAR */
  color: black;
  font-weight: bold;
  border: none;
  padding: 0.8rem;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 1rem;
}

.register-text {
  font-size: 0.9rem;
  color: #d0e3ff;
}

.register-text a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}
